PyQt5
PyQt-Fluent-Widgets
openai
google-genai
httpx
Pillow
sherpa-onnx
sounddevice
pyaudiowpatch
numpy
requests
psutil
sentencepiece
markdown
pygments
beautifulsoup4
live2d-py
pyopengl
packaging
edge-tts
musicdl
gradio_client
pygame
python-vlc
dashscope
chardet
pydantic-ai-slim[openai,web-fetch]==1.106.0
playwright>=1.52.0
